<h2>[{{model.price}} usd] {{model.title}}</h2>
<p>---</p>
<p>{{model.description}}</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, laborum.</p>
<p>Cumque enim minus, necessitatibus neque provident quam quidem sed veniam.</p>
<p>Aliquid hic inventore, mollitia nam quam quis quisquam! Natus, saepe!</p>
<p>Beatae commodi, illo. Esse fugit, porro saepe soluta totam ullam?</p>
<br/>
<br/>
{{render 'products.product.reviews' model.reviews}}
<div class='new-review'>
  <h3>Review {{title}}</h3>
  {{#if reviewText}}
    <p class='text-muted'>{{reviewText}}</p>
  {{/if}}
  <div>
    {{textarea value=reviewText cols=50 rows=5}}
  </div>
  <button {{action 'createReview'}} class='btn btn-primary' {{bind-attr disabled=isSaveDisabled}}>Review</button>
</div>