<h1>Hello {{name}}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, libero.</p>
<br/>
<p>We have some products</p>
<p>{{#link-to 'products' class='btn btn-primary' }}browse {{productCount}} products {{/link-to}}</p>
<p>{{#link-to 'products.onSale' class='btn btn-warning' }}browse {{onSaleProductCount}} discount products {{/link-to}}</p>

<hr/>

{{#if onSale}}
  <h1>Big sale</h1>
    <div class="row">
    {{#each onSale as |product|}}
      {{product-details product = product class='col-sm-4' tagName='div'}}
    {{/each}}
    </div>
{{/if}}

{{outlet}}
